<% include partials/header %>

<h1>This is a secret page</h1>

<p>You found me!!!</p>

<img src="https://images.unsplash.com/photo-1561825618-a26f85c50bf4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80" alt="secret" style="width: 300px; height: 300px;">

<li><a href="/logout">Logout!</a></li>

<% include partials/footer %>